name: Audit (pnpm)

on:
  push:
    paths:
      - annimate_desktop/pnpm-lock.yaml
  schedule:
    - cron: "0 0 * * SAT"
  workflow_dispatch:

env:
  # renovate: datasource=npm versioning=semver-coerced depName=corepack
  VERSION_COREPACK: 0.34.5

jobs:
  audit:
    name: Audit
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: annimate_desktop

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # Install a specific version of corepack to make sure we have the latest signing keys
      - name: Install corepack
        run: npm install --global --force corepack@${{ env.VERSION_COREPACK }}

      - name: Enable corepack
        run: corepack enable

      - name: Run audit
        run: pnpm audit --audit-level high
