name: Audit (Cargo)

on:
  push:
    paths:
      - '**/Cargo.lock'
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  audit:
    name: Audit
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run audit
        uses: rustsec/audit-check@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
